@function rem($px) {
  @return $px/75 + rem;
}
@function pc($px) {
  @return $px/750px * '100%';
}

@mixin maxImg {
  max-width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

@mixin disFlex {
  display: flex;
}

@mixin flex($compony) {
  flex: $compony;
}

@mixin ellicpsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
@mixin tellicpsis {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@mixin _prefixDpr($width: 1px, $position: all, $color: #e8e8e8, $radius: 0, $style: solid, $dpr: 2) {
  @media only screen and (-webkit-min-device-pixel-ratio: $dpr) {
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: $dpr * 100%;
      height: $dpr * 100%;
      transform: scale(1 / $dpr);
      transform-origin: left top;
      @if $position == all {
        border: $width $style $color;
      } @else {
        border-#{$position}: $width $style $color;
      }
      border-radius: $radius * 2;
      pointer-events: none;
    }
  }
}

@mixin border($position: all, $color: #ddd, $width: 1px, $radius: 0, $style: solid) {
  position: relative;
  border-radius: $radius;
  @include _prefixDpr($width, $position, $color, $radius, $style, 1);
  @include _prefixDpr($width, $position, $color, $radius, $style, 1.5);
  @include _prefixDpr($width, $position, $color, $radius, $style, 2);
  @include _prefixDpr($width, $position, $color, $radius, $style, 3);
}

@mixin tripleCenter {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  width: 300%;
  height: 300%;
  top: 0;
  left: 0;
  transform: scale(0.33333333) translate(-100%, -100%);
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin tripleCenterLine {
  display: flex;
  align-items: center;
  position: absolute;
  width: 300%;
  height: 300%;
  top: 0;
  left: 0;
  transform: scale(0.33333333) translate(-100%, -100%);
  text-overflow: ellipsis;
}
@mixin triple {
  position: absolute;
  width: 300%;
  height: 300%;
  top: 0;
  left: 0;
  transform: scale(0.33333333) translate(-100%, -100%);
}

.van-rate {
  position: relative;
  top: -20px;
}

.pf-medium {
  font-weight: 700;
}

.pf-simbold {
  font-weight: 700;
}

.line-height {
  height: 1Px;
}

.y-e-ios {
  .pf-medium {
    font-weight: 500;
  }

  .pf-simbold {
    font-weight: 600;
  }

  .line-height {
    height: 1px;
  }
}
.y-e-android {

  .amend-pt {
    padding-top: 1px !important;
  }
  .tran-pt {
    transform: translateY(1Px) ;
  }
}

//搜索样式
$price-color: #FF5900;   //价格、需突出的文字、气泡、删除按钮
$button-color: #FF8800;   //按钮、块、标签
$assist-color: #ffb320;   //其他辅助文字
$toptrip-color: #FF5900;   //顶部提示条底色

$bigger-text-color: #121212;   //大的列表/正标题
$main-text-color: #262626;   //列表/正标题 
$less-text-color: #666666;   //次要信息
$grey-color: #999999;   //次要辅助信息
$disable-color: #cccccc;   //失效/文本框提示字

$divider-color-e7: #e7e7e7;   //内分割线(内容区)
$divider-color-ed: #EDEDED;   //内分割线(内容区)
$main-background-color: #f4f4f4;   //app背景色
